<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>io.zilker.rest</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>io.zilker.rest.filter</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Jersey Authentication</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>io.zilker.rest</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>io.zilker.rest.filter</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JWT Authentication</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>io.zilker.rest</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>io.zilker.rest.filter</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>










	<servlet-mapping>
		<servlet-name>Jersey Authentication</servlet-name>
		<url-pattern>/authenticate/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/webapi/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JWT Authentication</servlet-name>
		<url-pattern>/auth/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Servlet</display-name>
		<servlet-name>Servlet</servlet-name>
		<servlet-class>io.zilker.rest.servlet.Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AuthenticateLogin</display-name>
		<servlet-name>AuthenticateLogin</servlet-name>
		<servlet-class>io.zilker.rest.servlet.AuthenticateLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticateLogin</servlet-name>
		<url-pattern>/AuthenticateLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AuthenticateSuccess</display-name>
		<servlet-name>AuthenticateSuccess</servlet-name>
		<servlet-class>io.zilker.rest.servlet.AuthenticateSuccess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticateSuccess</servlet-name>
		<url-pattern>/AuthenticateSuccess</url-pattern>
	</servlet-mapping>
</web-app>